* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* header __ Jasur */




/* main */




/* section __ Jo'rabek  */





/* section __ MuhammadYusuf */





/* footer __ Asad*/