* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* header */

/* header__advice Jasur */
.header {
  background: rgba(250, 250, 250, 1);
}
.header__navbar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__image {
  width: 385px;
}

.header__advice {
  display: flex;
  justify-content: center;
  height: 675px;
}

.header__advice-left {
  width: 50%;
  margin-top: 70px;
}
.advice__left-title {
  font-family: "Montserrat";
  width: 90%;
  font-size: 37px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}
.header__advice-left span {
  color: rgba(14, 204, 221, 1);
}
.advicw__left-text {
  font-family: "Montserrat";
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
}

.advicw__left-reyting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box {
  width: 170px;
}
.advice__left-num {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  color: rgba(14, 204, 221, 1);
  text-align: center;
}
.left__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

.advice__button {
  width: 296px;
  height: 56px;
  border-radius: 7px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  background-color: rgba(14, 204, 221, 1);
  color: #fff;
}

.header__advice-right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}
.img_1-header {
  position: absolute;
  top: 0;
  left: -200px;
  height: 546px;
}
.img_2-header {
  position: absolute;
  bottom: 50px;
  left: 70px;
}
.img_3-header {
  height: 420px;
  position: absolute;
  bottom: 50px;
  right: -45px;
}

.advice__right-aperator {
  position: absolute;
  top: 10px;
  right: 0;
}
.right__aperator-num {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  text-align: end;
  margin-bottom: 10px;
}
.right__aperator-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  width: 205px;
  text-align: end;
}

/* header__advice Jasur anding */

/* header__info Abdulloh */

.header__info{
  background: white;
  position: relative;
}
.header__text-content{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 283px;
  background: white;
  padding: 25px 0 10px;
  box-shadow: 0px 8px 41px -9px rgba(0, 0, 0, 0.25);
  top: -30px;
}
hr{
  width: 1px;
  height: 205px;
  background: black;
  border: none;
  border-radius: 1px;
}
.header__part{
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 0 30px 0 30px;
}
.header__text-top{
  display: flex;
  gap: 8px;
}

.header__title{
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}

.header__text{
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  width: 277px;
}
/* header__info Abdulloh anding*/

/* header anding  */

/* main */

/* section __ Jo'rabek  */

/* section __ Jo'rabek anding */

/* section __ MuhammadYusuf */

/* section __ MuhammadYusuf anding */

/* main anding*/

/* footer __ Asad*/

/* footer __ Asad anding */
