* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* header */

/* header__advice Jasur */
.header {
  background: rgba(250, 250, 250, 1);
}

.header__navbar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__image {
  width: 385px;
}

.header__advice {
  display: flex;
  justify-content: center;
  height: 675px;
}

.header__advice-left {
  width: 50%;
  margin-top: 70px;
}

.advice__left-title {
  font-family: "Montserrat";
  width: 90%;
  font-size: 37px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.header__advice-left span {
  color: rgba(14, 204, 221, 1);
}

.advicw__left-text {
  font-family: "Montserrat";
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
}

.advicw__left-reyting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box {
  width: 170px;
}

.advice__left-num {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  color: rgba(14, 204, 221, 1);
  text-align: center;
}

.left__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

.advice__button {
  width: 296px;
  height: 56px;
  border-radius: 7px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  background-color: rgba(14, 204, 221, 1);
  color: #fff;
}

.header__advice-right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}

.img_1-header {
  position: absolute;
  top: 0;
  left: -200px;
  height: 546px;
}

.img_2-header {
  position: absolute;
  bottom: 50px;
  left: 70px;
}

.img_3-header {
  height: 420px;
  position: absolute;
  bottom: 50px;
  right: -45px;
}

.advice__right-aperator {
  position: absolute;
  top: 10px;
  right: 0;
}

.right__aperator-num {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  text-align: end;
  margin-bottom: 10px;
}

.right__aperator-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  width: 205px;
  text-align: end;
}

/* header__advice Jasur anding */

/* header__info Abdulloh */

/* header__info Abdulloh anding*/

/* header anding  */

/* main */

/* section __ Jo'rabek  */

/* section __ Jo'rabek anding */

/* section __ MuhammadYusuf */

/* section __ MuhammadYusuf anding */

/* main anding*/

/* footer __ Asad*/


/* tepa qismi */
.footer__up {
  display: flex;
  justify-content: center;

}

.footer__foto {
  width: 100%;
}


/* pastki qismi  */
.footer__down {
  background: #2D2D2D;
  display: flex;
}

.footer__downn {
  display: flex;
  justify-content: space-between;
}

.footer__block1 {
  margin-top: 60px;
  margin-bottom: 80px;
}

.footer__block1-logo {
  color: #FAFAFA;
  width: 234px;
  height: 61.58px;
  margin-left: -15px;
  filter: brightness(0) invert(1);
}

.footer__block1-text {
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 383px;

}


.footer__block2 {
  margin-top: 60px;
  margin-bottom: 80px;
}

.footer__block2-title {
  margin-bottom: 15px;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;

}

.footer__block2-text {
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}


.footer__block3 {
  margin-top: 60px;
}

.footer__block3-title {
  margin-bottom: 15px;
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;

}

.footer__block3-text {
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

/* footer __ Asad anding */