* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* header */

/* header__advice Jasur */
.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__image {
}


/* header__advice Jasur anding */




/* header__info Abdulloh */




/* header__info Abdulloh anding*/



/* header anding  */

/* main */



/* section __ Jo'rabek  */




/* section __ Jo'rabek anding */




/* section __ MuhammadYusuf */




/* section __ MuhammadYusuf anding */

/* main anding*/


/* footer __ Asad*/



/* footer __ Asad anding */